<html lang="pt" xmlns="http://www.w3.org/1999/xhtml">
<link href="/css/login.css" rel="stylesheet" />
<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="Nome"/>
      <input type="password" placeholder="Senha"/>
      <input type="text" placeholder="Endereço de Email"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form">
      <input type="text" placeholder="Nome"/>
      <input type="email" placeholder="Email"/>
      <input type="password" placeholder="Senha"/>
      <button>login</button>
      <p class="message">Você já tem uma conta? <a href="#">Criar uma conta</a></p>
    </form>
  </div>
</div>